* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --text-color: #ffffff;

  --btn-color: #065E7C;

  --primary-color: hsla(194, 72%, 13%, 1);
  --second-color: #06181C;
  --remove-color: #F75A68;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: black;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.star-icon {
  color: var(--text-color);
  margin-right: .5rem;
}

.button-text {
  color: var(--text-color);
}

#app {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 2.5rem 0;
}

.logo img {
  width: 15.0rem;
  height: 3.2rem;
  margin-right: 5rem;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  background-color: var(--second-color);
  color: #7C7C8A;

  width: 30.0rem;
  height: 4.8rem;
  border-radius: .5rem;
  padding: 0 1.6rem;
  border: none;

  margin-right: .8rem;
}

.search button {
  background-color: var(--btn-color);

  height: 4.8rem;
  border: none;
  border-radius: .5rem;
  padding: 1.2rem 2.2rem;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search button:hover {
  background-color: var(--text-color);
  color: var(--btn-color);
}

.search button:hover .star-icon,
.search button:hover .button-text {
  color: #065E7C; 
}

table {
  width: 100%;
  border-collapse: collapse;

  box-shadow: 0 1rem 2rem -1rem rgba(255, 249, 249, 0.1);
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background-color: var(--primary-color);
  text-align: left;
  font-weight: normal;

  padding: 1.6rem;
}

table tr:nth-child(even) {
  background-color: var(--primary-color);
  border: 1px solid #4A808C;
  border-radius: 1.2rem;
}

table tr:nth-child(odd) {
  background-color: var(--second-color);
  border: 1px solid #4A808C;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: var(--remove-color);

  cursor: pointer;
}

td .remove:hover {
  transform: scale(1.1);
}